.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c1c;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 70px; /* Adjust as needed */
  margin-right: 20px;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out, background 0.3s;
}

.navbar-links a:hover {
  color: #ff6347; 
}

.navbar-links li a.active {
  background-color: #33CCFF;
  border-radius: 5px;
  color: white;
  padding: 2px 4px;
}

.navbar-links.open {
  max-height: 300px;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-logo img {
    margin: 0;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
    text-align: center;
  }
}
